name: Generar Index

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  generate-index:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
        
    - name: Generate index
      run: |
        chmod +x index.sh
        ./index.sh
